.unstoppable {
  --primary-color: rgb(13, 103, 254);
  --bg-color: #F5F5F5;
  --text-color: rgba(0, 0, 0, 0.87);
  --link-color: rgba(0, 0, 0, 0.87);
  --heading-color: rgb(13, 103, 254);
  --border-color: #d1d5da;
  --header-bg: #F5F5F5;
  --block-bg: #F5F5F5;
}
