@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'src/styles/chat-ui-kit-styles/variables';

@import '../node_modules/nema-chat-ui-kit-styles/themes/default/all_componets';

@import 'protocols/aave.module';
@import "protocols/compound.module";
@import "protocols/uniswap.module";
@import "protocols/unstoppable.module";

html {
  font-family: "mediumllweb", "sans-serif";
}

p > a {
  color: var(--primary-color);
  text-decoration: underline;
}
