.uniswap {
    --primary-color: #4B47AB;
    --bg-color: #212429;
    --text-color: #c2c5ca;
    --link-color: #ffffff;
    --heading-color: #4B47AB;
    --border-color: #40454f;
    --header-bg: #212429;
    --block-bg: transparent;
}
  