.uniswap {
    --primary-color: #4B47AB;
    --bg-color: #212429;
    --text-color: #c2c5ca;
    --link-color: #ffffff;
    --heading-color: #4B47AB;
    --border-color: #909294;
    --header-bg: #4B47AB;
    --block-bg: #4d5054;
}

